@use '../helpers/index' as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--button-width);
  height: var(--button-height);
  padding: rem(19) rem(18);

  color: var(--color-light);
  font-size: rem(15);
  font-weight: 600;
  line-height: var(--line-height-md);
  letter-spacing: var(--letter-spacing-md);
  text-align: center;

  outline: none;
  background-color: var(--color-orange);

  @include hover(itself) {
    background-color: var(--color-dark-orange);
  }

  &:focus-visible {
    background-color: var(--color-dark-orange);
  }

  &--bleached-big {
    width: var(--button-width-big);
    height: var(--button-height-little);

    border: rem(2) solid var(--color-light);
    background-color: rgba(6, 37, 91, 0.6);

    @include hover(itself) {
      color: var(--color-blue);

      background-color: var(--color-light);
    }

    &:focus-visible {
      color: var(--color-blue);

      background-color: var(--color-light);
    }
  }

  &--bleached-little {
    width: var(--button-width-little);
    height: var(--button-height-little);

    color: var(--color-blue);

    background-color: var(--color-light);

    @include hover(itself) {
      color: var(--color-light);

      background-color: var(--color-light-blue);
    }

    &:focus-visible {
      color: var(--color-light);

      background-color: var(--color-light-blue);
    }
  }
}
